button {
  padding: 12px 70px;
  /* cursor: pointer; */
}

.products-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  background-color: darkcyan;
  padding: 20px;
}

.p {
  max-width: 510px;
}
div {
  border: 1px;
  color: black;
}
